
.section {
  background-position: center;
  background-size: cover;
  @extend .display-flex;
  align-items: center;
  justify-content: center;
}

.about-section1 {
  @extend .section;
  height: 450px;

  @media (max-width: $breakpoint-tablet) {
    height: 280px;
  }

  article {
    @extend .white-color-text;
    text-align: center;
    text-shadow: 1px 1px 10px black;
    font-size: 50px;

    @media (max-width: $breakpoint-tablet) {
      font-size: 24px;
      line-height: 1.42857143;
      padding: 0 16px;
    }
  }

  article > div {
    text-align: center;
    font-size: 26px;
  }
}

.about-section1{
  background-size: cover;
}


.about-section2 {
  padding: 40px;
  box-sizing: border-box;
  @extend .display-flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $breakpoint-tablet) {
    padding: 40px 16px;
  }

  article {
    text-align: center;

    h1 {
      font-size: 28px;
      margin: 0 auto 50px;
      max-width: 700px;
      color: $blue-color;

      @media (max-width: $breakpoint-tablet) {
        font-size: 18px;
        line-height: 1.42857143;
        letter-spacing: 3px;
      }
    }

    span {
      margin: 0 auto 30px;
      max-width: 700px;
      display: block;

      @media (max-width: $breakpoint-tablet) {
        font-size: 15px;
        line-height: 24px;
      }
          
    }

    hr {
      margin: 40px;
    }

    div {
      margin-top: 30px;
      vertical-align: bottom;

      div {
        height: 180px;
        width: 120px;
        display: inline-block;
        margin-right: 40px;
        margin-left: 40px;

        div {
          margin: 15px 0px 0px 0px;
        }
      }
    }
  }

}


.about-section3 {
  min-height: 520px;
  padding: 20px;
  box-sizing: border-box;
  @extend .display-flex;
  align-items: center;
  justify-content: center;
  background-size: cover;

  article {
    text-align: center;
    color: $white-color;

    h1 {
      font-size: 28px;
      margin: 10px;

      @media (max-width: $breakpoint-tablet) {
        font-size: 18px;
        line-height: 1.42857143;
        letter-spacing: 3px;
      }
    }

    span {
      margin: 0 auto 20px;
      max-width: 700px;
      display: block;

      @media (max-width: $breakpoint-tablet) {
          font-size: 15px;
          line-height: 24px;
      }
    }
    
    .blue-color{
        color: #2C6BA1;
    }

    hr {
      margin: 40px
    }

    div {
      margin-top: 30px;

      h2 {
        margin: 5px;

        @media (max-width: $breakpoint-tablet) {
          font-size: 18px;
          line-height: 1.42857143;
          letter-spacing: 3px;
        }

      }

      div {
        display: inline-block;
        font-size: 11px;
        margin-left: 25px;
        margin-right: 25px;
        width: 235px;

        div {
          margin: 15px 0px 0px 0px;
          font-size: 14px;

          @media (max-width: $breakpoint-tablet) {
              font-size: 15px;
              line-height: 24px;
          }

        }
      }
    }
  }

}

.about-section4 {
  height: 300px;
  @extend .display-flex;
  align-items: center;
  justify-content: center;
  background-position: center;

  article {
    text-align: center;
    color: #ffffff;

    @media (max-width: $breakpoint-tablet) {
        padding: 0 16px;
    }

    span {
      font-size: 28px;
      margin: 10px;

      @media (max-width: $breakpoint-tablet) {
          font-size: 18px;
          line-height: 1.42857143;
      }
    }

    h1 {
      font-size: 28px;
      margin: 10px;

      @media (max-width: $breakpoint-tablet) {
          font-size: 18px;
          line-height: 1.42857143;
      }
    }

    .get-in-touch-btn{
      margin-top: 30px;
    }
  }
}
