
.section {
  background-position: center;
  background-size: cover;
  @extend .display-flex;
  align-items: center;
  justify-content: center;
}

.blog-section1 {
  @extend .section;
  height: 450px;

  @media (max-width: $breakpoint-tablet) {
    height: 280px;
  }

  article {
    @extend .white-color-text;
    text-align: center;
    text-shadow: 1px 1px 10px black;
    font-size: 50px;

    @media (max-width: $breakpoint-tablet) {
      font-size: 24px;
      line-height: 1.42857143;
      padding: 0 16px;
    }
  }

  article > div {
    text-align: center;
    font-size: 26px;
  }
}

.blog-section1{
  background-size: cover;
}


.blog-section2 {
  background-color: #ffffff;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;

  article {
    height: 100%;
    @extend .display-flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;

    div {
      @extend .display-flex;
      @extend .white-color-text;
      align-items: center;
      justify-content: center;
      flex-flow: row;
      flex-direction: row;
      flex-wrap: wrap;
      width: 80%;
    }

    div > div {
      margin: 12px 12px 24px 12px;
      background-size: cover;
      height: 250px;
      width: 250px;
      flex-basis: 30%;


      @media (max-width: $breakpoint-tablet) {
        flex-basis: 100%;
      }

      div {
        display: block;
        height: 100px;
        text-align: center;
      }
    }

    .blog-item{
      width: 80%;
      margin: 0 auto;
      flex-basis: initial;
      text-shadow: 1px 1px 10px black; 
    }


  }
}

.blog-item-section1 {
  @extend .section;
  height: 450px;
  background-size: cover;

  article {
    @extend .white-color-text;
    text-align: center;
    text-shadow: 1px 1px 10px black;
    font-size: 50px;
  }

  article > div {
    text-align: center;
    font-size: 26px;
  }

  @media (max-width: $breakpoint-tablet) {
    height: 280px;

    article {
      font-size: 22px;
    }
  }
}


.blog-item-section2 {
  background-color: #ffffff;
  height: auto;

  article {
    padding: 20px 40px;
    max-width: 800px;
    margin: 0 auto;

    @media (max-width: $breakpoint-tablet) {
      padding: 20px 16px;
    }
  }
}

.previous-btn{
  color: #000;
}

.blog-items-nav-wrapper{
  display: inline-block;
  width: 100%;

  a[rel="prev"]{
    float: left;
  }

  a[rel="next"]{
    float: right;
  }
}