
.section {
  background-position: center;
  background-size: cover;
  @extend .display-flex;
  align-items: center;
  justify-content: center;
}

.contact-section1 {
  @extend .section;
  background:
    linear-gradient(
      rgba(0, 102, 204, 0.3),
      rgba(0, 102, 204, 0.3)
    ),
    url('../images/section1.png');
  height: 450px;

  @media (max-width: $breakpoint-tablet) {
    height: 280px;
  }

  article {
    @extend .white-color-text;
    text-align: center;
    text-shadow: 1px 1px 10px black;
    font-size: 50px;

    @media (max-width: $breakpoint-tablet) {
      font-size: 24px;
      line-height: 1.42857143;
      padding: 0 16px;
    }
  }

  article > div {
    text-align: center;
    font-size: 26px;
  }
}


.contact-section2 {
  background-color: #f5f5f5;
  height: 400px;
}


.contact-section3 {
  background-color: #f5f5f5;
  /*height: 460px;*/
  padding: 40px;
  box-sizing: border-box;

  article {
    width: 100%;
    @extend .display-flex;
    flex-flow: row;
    flex-wrap: wrap;

    div {
      flex-basis: 50%;
    }

    @media (max-width: $breakpoint-tablet) {
      div {
        flex-basis: 100%;
      }
    }

    div:nth-child(1) {
      input, textarea {
        display: block;
        width: 90%;
        padding: 10px;
        margin: 10px;
      }
    }

    .contact-title{
      color: #2C6BA1;
    }

    .wpcf7-submit{
      height: 45px;
      width: 170px!important;
      border-radius: 3px;
      background-color: #e56a2d;
      border: 0px solid;
      color: $white-color;
      cursor: pointer;
      -webkit-appearance: none; 
    }

    div .wpcf7-form input, div .wpcf7-form textarea{
      margin: 0;
      border: 0;
    }

    div .wpcf7-form input{
      height: 40px;
    }

    div .wpcf7-form textarea{
      height: 100px;
      resize: none;
    }

    div.wpcf7-validation-errors{
      background: #f7e700;
      padding: 10px;
      box-sizing: border-box;
    }

    div.wpcf7-mail-sent-ok{
      border: 2px solid #e56a2d;
      background: #e56a2d;
      padding: 10px;
      box-sizing: border-box;
    }

    .contact-form-item + .contact-form-item{
      margin-top: 10px;
    }
  }

  .contact-page-data{
    display: flex;
    align-items: center;
    color: $gray-color;

    img{
      width: 22px;
      margin-right: 16px;
    }

    a{
      text-decoration: none;
      color: $gray-color;
    }
  }

  .contact-page-media{
    img {
      width: initial;
    }
  }

  .contact-page-data + .contact-page-data{
    margin-top: 30px;
  }

  div.wpcf7-response-output{
    padding: 0;
    width: 90%;
    margin: 0;
  }


}
