
.home-section1 {
  background:
    linear-gradient(
      rgba(72, 76, 25, 0.3),
      rgba(72, 76, 25, 0.3)
    ),
    url('../images/home-section1.jpg');
  background-position: top;
  background-size: cover;
  min-height: 100vh;
  position: relative;

  article {
    @extend .white-color-text;
    text-align: center;
    font-size: 4em;
    position: absolute;
    top: 64%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 10px black;
  }

  article > div {
    text-align: center;
    font-size: 26px;
  }

  article > div > button {
    margin-top: 45px;
    margin-right: 35px;
    font-size: 16px;
  }

  .winner-img {
    position: absolute;
    bottom: 40px;
    right: 40px;
  }


  @media (max-width: $breakpoint-tablet) {
    background-position: center 0px;

    .winner-img{
      display: none;
    }

    article {
      font-size: 2em;
    }

    article > div > button {
      margin-top: 20px;
      margin-right: 0px;
    }
  }

}


.home-section-slider {
  @extend .white-color-text;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;

  .flexslider{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    text-align: center;

    .flex-viewport{
      width: 100%;
      height: 100%;
      max-height: initial;
    }

    .flex-direction-nav{
      display: initial;

      a{
        z-index: 2;
      }
    }

    .slides{
      height: 100%;

      > li{
        height: 100%;
      }
    }
  }

  .flex-direction-nav .flex-prev{
    opacity: 1;
    left: 10px;

  }

  .flex-direction-nav .flex-next{
    opacity: 1;
    right: 10px;
  }

  .flex-direction-nav a:before{
    color: white;
  }

  .flexslider .slides > li{
    font-size: 20px;
  }

  .section-slider-item-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: top;
    background-size: cover;

  }

  article {
    @extend .white-color-text;
    text-align: center;
    font-size: 4em;
    text-shadow: 1px 1px 10px black;

    > div {
      text-align: center;
      font-size: 26px;

      > button {
        margin-top: 45px;
        margin-right: 35px;
        font-size: 16px;
      }
    } 
  }

  .winner-img {
    position: absolute;
    bottom: 40px;
    right: 40px;
    z-index: 2;
  }


  @media (max-width: $breakpoint-tablet) {
    background-position: center 0px;

    .winner-img{
      display: none;
    }

    article {
      font-size: 2em;
    }

    article > div > button {
      margin-top: 20px;
      margin-right: 0px;
    }
  }
}


.home-section2 {
  color: #042a48;
  text-align: center;

  .home-section2-top-clients-title {
    font-size: 40px;
    padding: 40px 0px;
  }

  .home-section2-top-clients {
    @extend .display-flex;
    margin: 0 auto;
    width: 70%;
    flex-flow: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1170px;
    padding-bottom:40px;
  }

  .home-section2-top-clients-item {
    flex-basis: calc(25% - 40px);
    height: 85px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 40px;
  }

  @media (max-width: $breakpoint-tablet) {
    .home-section2-top-clients-item {
      flex-basis: 100%;
      margin: 0;
    }

    .home-section2-top-clients-item + .home-section2-top-clients-item{
      margin-top: 20px;
    }
  }
}


.home-section3 {
  color: #042a48;
  text-align: center;
  background: #f7f7f7;
  padding: 40px 0px;

  .home-section3-bottom-clients{
    margin: 0 auto;
    width: 70%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 1170px;
  }

  .home-section3-bottom-clients-item{
    flex-basis: calc(30% - 40px);
    height: 125px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 40px;
  }

  @media (max-width: $breakpoint-tablet) {
    .home-section3-bottom-clients-item {
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}

.home-section4 {
  @extend .white-color-text;
  background-color: #205686;
  @extend .display-flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  padding: 90px 0 60px;


  div > .home-section4-header {
    text-align: center;
  }

  .home-section4-header-title{
    font-size: 2.5em;
    font-weight: regular;
    margin-bottom: 20px;
    letter-spacing: 3px;
  }

  h1, h2{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-weight: normal;
    font-size: 1em;
  }

  .home-section4-content-item-txt{
    width: 90%;
    margin: 0 auto;
  }

  .home-section4-content-item-txt-title{
    margin-top: 20px;
    font-weight: bold;
    font-size: 25px;
  }

  .home-section4-wrapper{
    width: 80%;
    max-width: 1170px;
    margin: 0 auto;
  }

  div > .home-section4-content {
    @extend .display-flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 40px auto 0;
  }

  div > .home-section4-content > img {
    flex: 1;
    width: 220px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .home-section4-content-item{
    flex-wrap: wrap;
    flex-basis: calc(33% - 40px);
    text-align: center;
    margin-right: 40px;

    &:last-child{
      margin-right: 0;
    }
  }

  div > .home-section4-button {
    text-align: center;
    margin-top: 50px;
  }

  @media (max-width: $breakpoint-tablet) {
    .home-section4-content-item{
      flex-basis: 100%;
      margin-bottom: 10px;
      margin-right: 0;
    }
  }

}

.home-section5 {
  position: relative;
  overflow: hidden;
  line-height: 0;

  .placeholder-video{
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  #home-video{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    opacity: 0;
  }

  #home-video-play{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .display-table{
    display: table;
    width: 100%;
    height: 100%;
  }

  .display-table-cell{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .home-video-play-img img{
    width: 127px;
    cursor: pointer;
  }

  .home-video-play-txt{
    @extend .white-color-text;
    font-size: 20px;
    margin-top: 21px;
  }

  @media (max-width: $breakpoint-tablet) {
      .home-video-play-img img{
        width: 60px;
      }
    }
}

.home-section6 {
  @extend .white-color-text;
  min-height: 480px;

  div {
    width: 100%;
    min-height: 240px;
    @extend .display-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
  }

  div > div {
    background-size: cover;
    background-position: center;
    display: inline-block;
    position: relative;
    flex-basis: 25%;
    height: 100%;
  }

  .our-work:after {
      content: "";
      display: block;
      padding-top: 100%;
      overflow: hidden;
  }


  div > div:hover > div {
    display: block;
    animation: show 500ms linear;
  }

  div > div:hover {
    transition: background-size 2s ease-in;
    -moz-transition: background-size 2s ease-in;
    -ms-transition: background-size 2s ease-in;
    -o-transition: background-size 2s ease-in;
    -webkit-transition: background-size 2s ease-in;
  }

  div > div > div {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    overflow: hidden;
  }

  div > div > div > div {
    text-align: center;
    padding-top: 30%;

    span {
      padding-top: 10px;
      font-size: 30px;
    }
  }

  @media (max-width: 968px) {
    div {
      justify-content: flex-start;
    }

    div > div {
      flex-basis: 33.3%;
    }
  }

  @media (max-width: $breakpoint-tablet) {

    div > div {
      flex-basis: 50%;
    }
  }


}

@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.button-case-study {
  @extend .white-color-text;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid white;
  border-radius: 4px;
  height: 40px;
  width: 200;
  margin-top: 35px;
}

.home-section7 {
  @extend .white-color-text;
  min-height: 300px;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;

  .flexslider{
    margin: 0 auto;
    width: 50%;
    background: transparent;
    border: none;
    text-align: center;
  }

  .flex-direction-nav .flex-prev{
    opacity: 1;
    color: white
  }

  .flex-direction-nav .flex-next{
    opacity: 1;
    color: white;
  }

  .flex-direction-nav a:before{
    color: white;
  }

  .flexslider .slides > li{
    font-size: 20px;
  }

  .flex-control-nav{
    display: none;
  }
}

.home-section8 {
  @extend .white-color-text;
  height: 200px;
  background-size: cover;
  text-align: center;
  padding-top: 30px;

  .home_work_us_title {
    font-size: 35px;
    font-weight: bold;
  }

  .home_work_us_desc {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
  }

  button {
    margin-top: 15px;
  }
}
