.abril-fatfaceregular {
  font-family: 'abril_fatfaceregular'; }

.proxima-nova-ltsemibold {
  font-family: 'proxima_nova_ltsemibold'; }

.montserratlight {
  font-family: 'montserratlight'; }

.montserratregular {
  font-family: 'montserratregular'; }

.montserratbold {
  font-family: 'montserratbold'; }

.montserratsemi_bold {
  font-family: 'montserratsemi_bold'; }

.avenirNextLTPro-Regular {
  font-family: 'AvenirNextLTPro-Regular'; }

@font-face {
  font-family: 'abril_fatfaceregular';
  src: url("../fonts/abrilfatface-regular-webfont.woff2") format("woff2"), url("../fonts/abrilfatface-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url("../fonts/mark_simonson_-_proxima_nova_semibold-webfont.woff2") format("woff2"), url("../fonts/mark_simonson_-_proxima_nova_semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratlight';
  src: url("../fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratsemi_bold';
  src: url("../fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("../fonts/montserrat-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url("../fonts/AvenirNextLTPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../fonts/AvenirNextLTPro-Regular.ttf") format("truetype"), url("../fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
body, html {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

button {
  cursor: pointer; }

button:hover:not(.c-hamburger) {
  transform: scale(1.1); }

.white-color-text, .main-menu ul > li > a, .main-menu-contact, .wrapper-page footer, .big-button, .home-section1 article, .home-section-slider, .home-section-slider article, .home-section4, .home-section5 .home-video-play-txt, .home-section6, .button-case-study, .home-section7, .home-section8, .work-section article, .about-section1 article, .services-section1 article, .services-section4 .service-item, .blog-section1 article, .blog-section2 article div, .blog-item-section1 article, .contact-section1 article, .team-section1 article, .team-section3, .slide-item-section1 article {
  color: #ffffff; }

.display-flex, .home-section2 .home-section2-top-clients, .home-section4, .home-section4 div > .home-section4-content, .home-section6 div, .section, .work-section, .about-section1, .services-section1, .blog-section1, .blog-item-section1, .contact-section1, .team-section1, .slide-item-section1, .about-section2, .about-section3, .about-section4, .services-section2, .services-section3 article div, .services-section4 div, .blog-section2 article, .blog-section2 article div, .contact-section3 article, .team-section2, .team-section3 div, .team-section4 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.logo {
  float: left;
  margin-left: 40px;
  margin-top: 15px; }
  .logo img {
    height: 50px; }

.c-hamburger {
  position: absolute;
  right: 16px;
  top: 12px;
  display: none;
  margin: 0;
  padding: 0;
  width: 25px;
  height: 30px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s; }

.c-hamburger:focus {
  outline: none; }

.c-hamburger span {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: white; }

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: ""; }

.c-hamburger span::before {
  top: -7px; }

.c-hamburger span::after {
  bottom: -7px; }

.c-hamburger--htx {
  background-color: transparent; }

.c-hamburger--htx span {
  transition: background 0s 0.3s; }

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s; }

.c-hamburger--htx span::before {
  transition-property: top, transform; }

.c-hamburger--htx span::after {
  transition-property: bottom, transform; }

/* active state, i.e. menu open */
.c-hamburger--htx.is-active span {
  background: none; }

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg); }

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg); }

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s; }

@media (max-width: 768px) {
  .logo {
    width: calc(100% - 10px - 60px);
    margin-left: 10px;
    margin-top: 0; }
    .logo img {
      height: 30px; }

  .c-hamburger {
    display: block; }

  .is-active + .main-menu {
    display: flex; } }
.main-menu {
  float: right;
  padding-right: 50px;
  height: 80px;
  display: flex;
  align-items: center; }
  .main-menu ul {
    padding: 0px;
    text-align: center;
    margin: 0px; }
  .main-menu ul > li {
    display: inline;
    font-size: 18px;
    padding: 25px; }
  .main-menu ul > li > a {
    text-decoration: none;
    border: 1px solid transparent;
    padding: 0px; }
    .main-menu ul > li > a:hover, .main-menu ul > li > a:active, .main-menu ul > li > a:focus {
      border-bottom: 2px solid rgba(255, 255, 255, 0.5); }
  .main-menu ul > li.current-menu-item > a,
  .main-menu ul > li.current-page-ancestor > a {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5); }
  .main-menu ul > li.menu-item-contact > a {
    padding: 10px;
    border-radius: 22px;
    border: 1px solid white;
    display: inline-block; }
  .main-menu ul > li.menu-item-contact > a:hover {
    transform: scale(1.1); }
  @media (max-width: 990px) {
    .main-menu {
      padding-right: 20px; }
      .main-menu ul > li {
        padding: 5px; } }
  @media (max-width: 768px) {
    .main-menu {
      padding-right: 0;
      float: none;
      width: 100%;
      height: auto;
      display: none; }
      .main-menu ul {
        width: 100%; }
      .main-menu ul > li {
        padding: 10px;
        display: block;
        width: 100%; } }

.main-menu-contact {
  background: transparent none repeat scroll 0 0;
  border: 2px solid;
  border-radius: 20px;
  line-height: 30px; }

.wrapper-page header, .wrapper-page footer, .wrapper-page section {
  width: 100%; }
.wrapper-page header {
  height: 80px;
  position: fixed;
  z-index: 1; }
  @media (max-width: 768px) {
    .wrapper-page header {
      height: auto;
      background-color: rgba(5, 42, 71, 0.8);
      z-index: 3;
      padding: 10px 0;
      top: 0; } }
.wrapper-page .header-float {
  background-color: rgba(5, 42, 71, 0.8); }
.wrapper-page .sub-menu-wrapper-float {
  position: fixed;
  top: 80px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9); }
@media (min-width: 768px) {
  .wrapper-page .sub-menu-wrapper-float.menu-top {
    top: 0; } }
@media (max-width: 768px) {
  .wrapper-page .sub-menu-wrapper-float {
    top: 54px; } }
.wrapper-page .sub-menu-wrapper-float + .about-section2 {
  padding-top: 110px; }
  @media (max-width: 768px) {
    .wrapper-page .sub-menu-wrapper-float + .about-section2 {
      padding-top: 94px; } }
.wrapper-page .sub-menu-wrapper-float + .work-details-item {
  padding-top: 150px; }
  @media (max-width: 768px) {
    .wrapper-page .sub-menu-wrapper-float + .work-details-item {
      padding-top: 124px; } }
.wrapper-page .sub-menu-wrapper-float + .team-section2 {
  padding-top: 110px; }
  @media (max-width: 768px) {
    .wrapper-page .sub-menu-wrapper-float + .team-section2 {
      padding-top: 94px; } }
.wrapper-page .sub-menu-wrapper-float + .contact-section2 {
  padding-top: 70px; }
  @media (max-width: 768px) {
    .wrapper-page .sub-menu-wrapper-float + .contact-section2 {
      padding-top: 54px; } }
.wrapper-page footer {
  background-image: url("../images/footer.jpg");
  justify-content: center;
  align-items: center;
  background-color: #042a48;
  padding: 45px 0px 45px 0px; }
  .wrapper-page footer .footer-container {
    width: 90%;
    display: flex;
    margin: 0 auto; }
    .wrapper-page footer .footer-container .footer-item-left {
      flex-basis: 30%; }
    .wrapper-page footer .footer-container .footer-item-right {
      flex-basis: 70%;
      display: flex;
      flex-wrap: wrap; }
      .wrapper-page footer .footer-container .footer-item-right .footer-section-wrapper {
        flex-basis: 33%; }
    .wrapper-page footer .footer-container h4 {
      color: #e56a2d; }
    .wrapper-page footer .footer-container .footer-logo-wrapper {
      font-size: 11px;
      line-height: 1.42857143; }
      .wrapper-page footer .footer-container .footer-logo-wrapper img.footer-logo {
        height: 40px;
        margin-bottom: 1.33em; }
      .wrapper-page footer .footer-container .footer-logo-wrapper div + div {
        margin-top: 12px; }
    .wrapper-page footer .footer-container .footer-section-wrapper-item {
      font-size: 11px;
      line-height: 1.42857143; }
    .wrapper-page footer .footer-container .footer-section-wrapper-item + .footer-section-wrapper-item {
      margin-top: 12px; }
    .wrapper-page footer .footer-container .footer-section-wrapper-item a {
      text-decoration: none; }
    @media (max-width: 768px) {
      .wrapper-page footer .footer-container {
        display: block; }
        .wrapper-page footer .footer-container .footer-item-left {
          width: 100%; }
        .wrapper-page footer .footer-container .footer-item-right .footer-section-wrapper {
          flex-basis: 50%;
          padding-right: 10px;
          box-sizing: border-box; } }

@keyframes show {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block; }
  100% {
    display: block;
    opacity: 1; } }
.big-button {
  height: 45px;
  width: 170px;
  border-radius: 25px; }

.button-white {
  background: transparent;
  border: 2px solid; }

.button-orange {
  background-color: #e56a2d;
  border: 0px solid; }

@media (min-width: 768px) {
  .headroom {
    will-change: transform;
    transition: transform 200ms linear; }

  .headroom--pinned {
    transform: translateY(0%); }

  .headroom--unpinned {
    transform: translateY(-100%); } }
svg * {
  fill: none;
  stroke: currentColor;
  stroke-width: 2; }

svg.ended * {
  fill: white;
  stroke: none; }

.svg-item {
  height: 100px; }

.svg-item-services {
  height: 118px !important; }

.flex-control-nav {
  bottom: 10px; }

@media (max-width: 768px) {
  .home-section-slider article span {
    font-size: 25px; }

  .home-section-slider article > div {
    font-size: 16px !important; }

  .big-button {
    border-radius: 25px;
    padding: 8px;
    font-size: 12px !important;
    width: auto;
    height: auto; }

  .home-section2 .home-section2-top-clients-title {
    font-size: 20px !important; }

  .home-section4 .home-section4-header-title {
    font-size: 20px !important; }

  .home-section7 .flexslider .slides > li {
    font-size: 16px !important; }

  .home-section8 .home_work_us_title {
    font-size: 25px !important; }

  .home-section8 .home_work_us_desc {
    font-size: 16px !important; }

  .our-work-section {
    font-size: 12px !important; }

  .home-section6 div > div > div > div span {
    font-size: 20px !important; }

  .button-case-study {
    font-size: 12px; }

  .sub-menu-wrapper .sub-menu {
    width: 100% !important; }

  .work-section article {
    font-size: 20px !important; }

  .work-section article > div {
    font-size: 16px !important; } }
.home-section1 {
  background: linear-gradient(rgba(72, 76, 25, 0.3), rgba(72, 76, 25, 0.3)), url("../images/home-section1.jpg");
  background-position: top;
  background-size: cover;
  min-height: 100vh;
  position: relative; }
  .home-section1 article {
    text-align: center;
    font-size: 4em;
    position: absolute;
    top: 64%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 10px black; }
  .home-section1 article > div {
    text-align: center;
    font-size: 26px; }
  .home-section1 article > div > button {
    margin-top: 45px;
    margin-right: 35px;
    font-size: 16px; }
  .home-section1 .winner-img {
    position: absolute;
    bottom: 40px;
    right: 40px; }
  @media (max-width: 768px) {
    .home-section1 {
      background-position: center 0px; }
      .home-section1 .winner-img {
        display: none; }
      .home-section1 article {
        font-size: 2em; }
      .home-section1 article > div > button {
        margin-top: 20px;
        margin-right: 0px; } }

.home-section-slider {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex; }
  .home-section-slider .flexslider {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    text-align: center; }
    .home-section-slider .flexslider .flex-viewport {
      width: 100%;
      height: 100%;
      max-height: initial; }
    .home-section-slider .flexslider .flex-direction-nav {
      display: initial; }
      .home-section-slider .flexslider .flex-direction-nav a {
        z-index: 2; }
    .home-section-slider .flexslider .slides {
      height: 100%; }
      .home-section-slider .flexslider .slides > li {
        height: 100%; }
  .home-section-slider .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }
  .home-section-slider .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; }
  .home-section-slider .flex-direction-nav a:before {
    color: white; }
  .home-section-slider .flexslider .slides > li {
    font-size: 20px; }
  .home-section-slider .section-slider-item-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: top;
    background-size: cover; }
  .home-section-slider article {
    text-align: center;
    font-size: 4em;
    text-shadow: 1px 1px 10px black; }
    .home-section-slider article > div {
      text-align: center;
      font-size: 26px; }
      .home-section-slider article > div > button {
        margin-top: 45px;
        margin-right: 35px;
        font-size: 16px; }
  .home-section-slider .winner-img {
    position: absolute;
    bottom: 40px;
    right: 40px;
    z-index: 2; }
  @media (max-width: 768px) {
    .home-section-slider {
      background-position: center 0px; }
      .home-section-slider .winner-img {
        display: none; }
      .home-section-slider article {
        font-size: 2em; }
      .home-section-slider article > div > button {
        margin-top: 20px;
        margin-right: 0px; } }

.home-section2 {
  color: #042a48;
  text-align: center; }
  .home-section2 .home-section2-top-clients-title {
    font-size: 40px;
    padding: 40px 0px; }
  .home-section2 .home-section2-top-clients {
    margin: 0 auto;
    width: 70%;
    flex-flow: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1170px;
    padding-bottom: 40px; }
  .home-section2 .home-section2-top-clients-item {
    flex-basis: calc(25% - 40px);
    height: 85px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 40px; }
  @media (max-width: 768px) {
    .home-section2 .home-section2-top-clients-item {
      flex-basis: 100%;
      margin: 0; }
    .home-section2 .home-section2-top-clients-item + .home-section2-top-clients-item {
      margin-top: 20px; } }

.home-section3 {
  color: #042a48;
  text-align: center;
  background: #f7f7f7;
  padding: 40px 0px; }
  .home-section3 .home-section3-bottom-clients {
    margin: 0 auto;
    width: 70%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 1170px; }
  .home-section3 .home-section3-bottom-clients-item {
    flex-basis: calc(30% - 40px);
    height: 125px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 40px; }
  @media (max-width: 768px) {
    .home-section3 .home-section3-bottom-clients-item {
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: 30px; } }

.home-section4 {
  background-color: #205686;
  align-items: center;
  justify-content: center;
  background-size: cover;
  padding: 90px 0 60px; }
  .home-section4 div > .home-section4-header {
    text-align: center; }
  .home-section4 .home-section4-header-title {
    font-size: 2.5em;
    font-weight: regular;
    margin-bottom: 20px;
    letter-spacing: 3px; }
  .home-section4 h1, .home-section4 h2 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-weight: normal;
    font-size: 1em; }
  .home-section4 .home-section4-content-item-txt {
    width: 90%;
    margin: 0 auto; }
  .home-section4 .home-section4-content-item-txt-title {
    margin-top: 20px;
    font-weight: bold;
    font-size: 25px; }
  .home-section4 .home-section4-wrapper {
    width: 80%;
    max-width: 1170px;
    margin: 0 auto; }
  .home-section4 div > .home-section4-content {
    flex-flow: row;
    flex-wrap: wrap;
    margin: 40px auto 0; }
  .home-section4 div > .home-section4-content > img {
    flex: 1;
    width: 220px;
    padding-right: 40px;
    padding-left: 40px; }
  .home-section4 .home-section4-content-item {
    flex-wrap: wrap;
    flex-basis: calc(33% - 40px);
    text-align: center;
    margin-right: 40px; }
    .home-section4 .home-section4-content-item:last-child {
      margin-right: 0; }
  .home-section4 div > .home-section4-button {
    text-align: center;
    margin-top: 50px; }
  @media (max-width: 768px) {
    .home-section4 .home-section4-content-item {
      flex-basis: 100%;
      margin-bottom: 10px;
      margin-right: 0; } }

.home-section5 {
  position: relative;
  overflow: hidden;
  line-height: 0; }
  .home-section5 .placeholder-video {
    width: 100%;
    height: auto;
    overflow: hidden; }
  .home-section5 #home-video {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    opacity: 0; }
  .home-section5 #home-video-play {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .home-section5 .display-table {
    display: table;
    width: 100%;
    height: 100%; }
  .home-section5 .display-table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  .home-section5 .home-video-play-img img {
    width: 127px;
    cursor: pointer; }
  .home-section5 .home-video-play-txt {
    font-size: 20px;
    margin-top: 21px; }
  @media (max-width: 768px) {
    .home-section5 .home-video-play-img img {
      width: 60px; } }

.home-section6 {
  min-height: 480px; }
  .home-section6 div {
    width: 100%;
    min-height: 240px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9); }
  .home-section6 div > div {
    background-size: cover;
    background-position: center;
    display: inline-block;
    position: relative;
    flex-basis: 25%;
    height: 100%; }
  .home-section6 .our-work:after {
    content: "";
    display: block;
    padding-top: 100%;
    overflow: hidden; }
  .home-section6 div > div:hover > div {
    display: block;
    animation: show 500ms linear; }
  .home-section6 div > div:hover {
    transition: background-size 2s ease-in;
    -moz-transition: background-size 2s ease-in;
    -ms-transition: background-size 2s ease-in;
    -o-transition: background-size 2s ease-in;
    -webkit-transition: background-size 2s ease-in; }
  .home-section6 div > div > div {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    overflow: hidden; }
  .home-section6 div > div > div > div {
    text-align: center;
    padding-top: 30%; }
    .home-section6 div > div > div > div span {
      padding-top: 10px;
      font-size: 30px; }
  @media (max-width: 968px) {
    .home-section6 div {
      justify-content: flex-start; }
    .home-section6 div > div {
      flex-basis: 33.3%; } }
  @media (max-width: 768px) {
    .home-section6 div > div {
      flex-basis: 50%; } }

@keyframes show {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block; }
  100% {
    display: block;
    opacity: 1; } }
.button-case-study {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid white;
  border-radius: 4px;
  height: 40px;
  width: 200;
  margin-top: 35px; }

.home-section7 {
  min-height: 300px;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex; }
  .home-section7 .flexslider {
    margin: 0 auto;
    width: 50%;
    background: transparent;
    border: none;
    text-align: center; }
  .home-section7 .flex-direction-nav .flex-prev {
    opacity: 1;
    color: white; }
  .home-section7 .flex-direction-nav .flex-next {
    opacity: 1;
    color: white; }
  .home-section7 .flex-direction-nav a:before {
    color: white; }
  .home-section7 .flexslider .slides > li {
    font-size: 20px; }
  .home-section7 .flex-control-nav {
    display: none; }

.home-section8 {
  height: 200px;
  background-size: cover;
  text-align: center;
  padding-top: 30px; }
  .home-section8 .home_work_us_title {
    font-size: 35px;
    font-weight: bold; }
  .home-section8 .home_work_us_desc {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px; }
  .home-section8 button {
    margin-top: 15px; }

.section, .work-section, .about-section1, .services-section1, .blog-section1, .blog-item-section1, .contact-section1, .team-section1, .slide-item-section1 {
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center; }

.work-section {
  height: 450px;
  box-shadow: inset 0px 28px 30px -15px #000; }
  .work-section article {
    text-shadow: 1px 1px 10px black;
    text-align: center;
    font-size: 50px; }
  .work-section article > div {
    text-align: center;
    font-size: 26px; }
  .work-section article > div > button {
    margin-top: 45px;
    margin-right: 0; }
  @media (max-width: 768px) {
    .work-section {
      height: 280px; } }

.work-section1 {
  background-size: cover; }

.work-details-wrapper {
  padding-bottom: 100px; }

.work-details-section1 {
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 768px) {
    .work-details-section1 {
      height: 410px; } }

.work-details-section1-overlay {
  background-image: url("../images/overlay.png");
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; }

.work-details-section1-top-info {
  z-index: 1;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 10px #000; }

.work-details-section1-top-info-title {
  font-size: 6em; }

.work-details-section1-top-info-sub-title {
  font-size: 2em;
  padding-top: 12px; }

.work-details-section1-arrow-down {
  position: absolute;
  bottom: 30px;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center; }
  .work-details-section1-arrow-down img {
    cursor: pointer;
    transition: transform .2s linear;
    transform: scale(1); }
  .work-details-section1-arrow-down img:hover, .work-details-section1-arrow-down img:active {
    transform: scale(1.3); }
  @media (max-width: 768px) {
    .work-details-section1-arrow-down {
      display: none; } }

.work-details-item {
  text-align: center;
  padding: 80px 0; }
  @media (max-width: 768px) {
    .work-details-item {
      padding: 70px 0; } }

.work-details-item-number {
  width: 45px;
  height: 45px;
  margin: 0 auto;
  line-height: 45px;
  background: #2C6BA1;
  color: white;
  border-radius: 50%;
  font-size: 30px; }

.work-details-item-title {
  margin: 20px 0;
  color: #646464;
  font-size: 30px; }
  @media (max-width: 768px) {
    .work-details-item-title {
      font-size: 24px;
      line-height: 1.42857143; } }

.work-details-item-desc {
  color: #646464;
  font-size: 16px;
  width: 100%;
  max-width: 945px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box; }
  @media (max-width: 768px) {
    .work-details-item-desc {
      font-size: 15px;
      line-height: 24px; } }

.work-details-item-img {
  text-align: center;
  background-position: center;
  background-size: contain;
  height: 400px;
  background-repeat: no-repeat; }
  .work-details-item-img img {
    max-width: 100%; }
  @media (max-width: 768px) {
    .work-details-item-img {
      background-size: cover;
      height: 300px; } }

.work-details-item-img-comment {
  background-position: center;
  background-size: cover;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center; }

.work-details-item-img-comment-data {
  color: white;
  text-align: center; }

.work-details-item-img-comment-txt {
  font-size: 23px; }
  @media (max-width: 768px) {
    .work-details-item-img-comment-txt {
      font-size: 18px;
      line-height: 1.42857143;
      padding: 20px; } }

.work-details-item-img-comment-author {
  font-size: 16px;
  margin-top: 20px; }
  @media (max-width: 768px) {
    .work-details-item-img-comment-author {
      font-size: 13px;
      line-height: 1.42857143;
      padding: 20px; } }

.work-details-section1-next, .work-details-section1-previous {
  z-index: 2;
  position: absolute;
  top: 50%;
  display: flex;
  width: 150px;
  background: black;
  min-height: 70px;
  margin-top: -55px;
  padding: 20px;
  background-color: #0A3F68;
  opacity: 80%; }
  .work-details-section1-next a, .work-details-section1-previous a {
    text-decoration: none;
    display: block;
    width: 100%; }
  @media (max-width: 768px) {
    .work-details-section1-next, .work-details-section1-previous {
      display: none; } }

.work-details-section1-next {
  right: 0; }

.work-details-section1-previous {
  left: 0; }

.work-details-section1-nav-label {
  color: #E46A2D; }

.work-details-section1-nav-text {
  color: white;
  margin-top: 6px;
  display: table-caption;
  width: 150px;
  overflow: hidden; }

@media (max-width: 768px) {
  .work-details-section1-top-info-title {
    font-size: 24px;
    line-height: 1.42857143;
    margin-bottom: 8px;
    letter-spacing: 4.3px; }

  .work-details-section1-top-info-sub-title {
    font-size: 15px;
    line-height: 1.42857143; } }
.section, .work-section, .about-section1, .services-section1, .blog-section1, .blog-item-section1, .contact-section1, .team-section1, .slide-item-section1 {
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center; }

.about-section1 {
  height: 450px; }
  @media (max-width: 768px) {
    .about-section1 {
      height: 280px; } }
  .about-section1 article {
    text-align: center;
    text-shadow: 1px 1px 10px black;
    font-size: 50px; }
    @media (max-width: 768px) {
      .about-section1 article {
        font-size: 24px;
        line-height: 1.42857143;
        padding: 0 16px; } }
  .about-section1 article > div {
    text-align: center;
    font-size: 26px; }

.about-section1 {
  background-size: cover; }

.about-section2 {
  padding: 40px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center; }
  @media (max-width: 768px) {
    .about-section2 {
      padding: 40px 16px; } }
  .about-section2 article {
    text-align: center; }
    .about-section2 article h1 {
      font-size: 28px;
      margin: 0 auto 50px;
      max-width: 700px;
      color: #052A47; }
      @media (max-width: 768px) {
        .about-section2 article h1 {
          font-size: 18px;
          line-height: 1.42857143;
          letter-spacing: 3px; } }
    .about-section2 article span {
      margin: 0 auto 30px;
      max-width: 700px;
      display: block; }
      @media (max-width: 768px) {
        .about-section2 article span {
          font-size: 15px;
          line-height: 24px; } }
    .about-section2 article hr {
      margin: 40px; }
    .about-section2 article div {
      margin-top: 30px;
      vertical-align: bottom; }
      .about-section2 article div div {
        height: 180px;
        width: 120px;
        display: inline-block;
        margin-right: 40px;
        margin-left: 40px; }
        .about-section2 article div div div {
          margin: 15px 0px 0px 0px; }

.about-section3 {
  min-height: 520px;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-size: cover; }
  .about-section3 article {
    text-align: center;
    color: #ffffff; }
    .about-section3 article h1 {
      font-size: 28px;
      margin: 10px; }
      @media (max-width: 768px) {
        .about-section3 article h1 {
          font-size: 18px;
          line-height: 1.42857143;
          letter-spacing: 3px; } }
    .about-section3 article span {
      margin: 0 auto 20px;
      max-width: 700px;
      display: block; }
      @media (max-width: 768px) {
        .about-section3 article span {
          font-size: 15px;
          line-height: 24px; } }
    .about-section3 article .blue-color {
      color: #2C6BA1; }
    .about-section3 article hr {
      margin: 40px; }
    .about-section3 article div {
      margin-top: 30px; }
      .about-section3 article div h2 {
        margin: 5px; }
        @media (max-width: 768px) {
          .about-section3 article div h2 {
            font-size: 18px;
            line-height: 1.42857143;
            letter-spacing: 3px; } }
      .about-section3 article div div {
        display: inline-block;
        font-size: 11px;
        margin-left: 25px;
        margin-right: 25px;
        width: 235px; }
        .about-section3 article div div div {
          margin: 15px 0px 0px 0px;
          font-size: 14px; }
          @media (max-width: 768px) {
            .about-section3 article div div div {
              font-size: 15px;
              line-height: 24px; } }

.about-section4 {
  height: 300px;
  align-items: center;
  justify-content: center;
  background-position: center; }
  .about-section4 article {
    text-align: center;
    color: #ffffff; }
    @media (max-width: 768px) {
      .about-section4 article {
        padding: 0 16px; } }
    .about-section4 article span {
      font-size: 28px;
      margin: 10px; }
      @media (max-width: 768px) {
        .about-section4 article span {
          font-size: 18px;
          line-height: 1.42857143; } }
    .about-section4 article h1 {
      font-size: 28px;
      margin: 10px; }
      @media (max-width: 768px) {
        .about-section4 article h1 {
          font-size: 18px;
          line-height: 1.42857143; } }
    .about-section4 article .get-in-touch-btn {
      margin-top: 30px; }

.section, .work-section, .about-section1, .services-section1, .blog-section1, .blog-item-section1, .contact-section1, .team-section1, .slide-item-section1 {
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center; }

.services-section1 {
  height: 450px; }
  @media (max-width: 768px) {
    .services-section1 {
      height: 280px; } }
  .services-section1 article {
    text-align: center;
    text-shadow: 1px 1px 10px black;
    font-size: 50px; }
    @media (max-width: 768px) {
      .services-section1 article {
        font-size: 24px;
        line-height: 1.42857143;
        padding: 0 16px; } }
  .services-section1 article > div {
    text-align: center;
    font-size: 26px; }

.services-section1 {
  background-size: cover; }

.services-section2 {
  background-color: #ffffff;
  min-height: 500px;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 20px; }
  .services-section2 article {
    text-align: center;
    color: #052A47; }
    @media (max-width: 768px) {
      .services-section2 article {
        font-size: 15px;
        line-height: 24px;
        padding: 0px 16px; } }
    .services-section2 article h1 {
      font-size: 28px; }
      @media (max-width: 768px) {
        .services-section2 article h1 {
          font-size: 18px;
          line-height: 1.42857143;
          letter-spacing: 3px; } }
    .services-section2 article hr {
      margin: 40px; }
    .services-section2 article div {
      vertical-align: bottom; }
      .services-section2 article div div {
        height: 180px;
        width: 120px;
        display: inline-block;
        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: 30px; }
        .services-section2 article div div div {
          margin: 15px 0px 0px 0px; }

.services-section3 {
  background-color: #052A47; }
  .services-section3 article .services-build-item:nth-child(even) {
    flex-direction: row-reverse; }
  .services-section3 article div {
    min-height: 450px;
    flex-basis: 50%; }
    @media (max-width: 768px) {
      .services-section3 article div {
        flex-basis: 100%;
        min-height: 280px; }
        .services-section3 article div .service-image {
          display: none; } }
  .services-section3 article div > div:not(.service-image) {
    height: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    background-size: cover; }
    @media (max-width: 768px) {
      .services-section3 article div > div:not(.service-image) {
        font-size: 15px;
        line-height: 24px;
        padding: 0; } }
    .services-section3 article div > div:not(.service-image) div {
      padding: 0px;
      display: block;
      color: #ffffff; }
      @media (max-width: 768px) {
        .services-section3 article div > div:not(.service-image) div img {
          display: none; } }
    .services-section3 article div > div:not(.service-image) div:nth-child(1) {
      display: none;
      flex-basis: 20%;
      padding: 50px 20px; }
    @media (max-width: 768px) {
      .services-section3 article div > div:not(.service-image) div:nth-child(1) {
        flex-basis: 100%;
        display: none; }
      .services-section3 article div > div:not(.service-image) div:nth-child(2) {
        flex-basis: 100% !important; } }
    .services-section3 article div > div:not(.service-image) div:nth-child(2) {
      flex-basis: 100%;
      padding: 0; }
      @media (max-width: 768px) {
        .services-section3 article div > div:not(.service-image) div:nth-child(2) {
          padding: 0; } }
      .services-section3 article div > div:not(.service-image) div:nth-child(2) h1 {
        color: #e56a2d;
        margin-bottom: 0px;
        margin-top: 0;
        letter-spacing: 3px;
        font-size: 16px;
        line-height: 1.42857143;
        text-align: left; }
        @media (max-width: 768px) {
          .services-section3 article div > div:not(.service-image) div:nth-child(2) h1 {
            letter-spacing: 2px;
            font-size: 12px;
            line-height: 1.42857143; } }
      .services-section3 article div > div:not(.service-image) div:nth-child(2) h2 {
        margin-top: 0px;
        letter-spacing: 4px;
        font-size: 22px;
        line-height: 1.42857143;
        text-align: left;
        text-transform: uppercase; }
        @media (max-width: 768px) {
          .services-section3 article div > div:not(.service-image) div:nth-child(2) h2 {
            letter-spacing: 3px;
            font-size: 15px;
            line-height: 1.42857143; } }
      .services-section3 article div > div:not(.service-image) div:nth-child(2) .des {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px; }
  .services-section3 article .service-image-mobile {
    display: none; }
  .services-section3 article .service-txt-wrapper {
    display: flex; }
  .services-section3 article .service-txt-wrapper > section {
    display: inline-block;
    padding: 20px; }
  .services-section3 article .service-txt-wrapper > img {
    width: 86px;
    height: 86px; }
  .services-section3 article .service-txt {
    padding: 40px 16px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 32px; }
    .services-section3 article .service-txt ul {
      margin: 30px 0 0; }
      .services-section3 article .service-txt ul li {
        font-size: 14px;
        line-height: 1.42857143; }
        @media (max-width: 768px) {
          .services-section3 article .service-txt ul li {
            font-size: 12px;
            line-height: 1.42857143; } }
      .services-section3 article .service-txt ul li + li {
        margin-top: 20px; }
        @media (max-width: 768px) {
          .services-section3 article .service-txt ul li + li {
            margin-top: 10px; } }
  @media (max-width: 768px) {
    .services-section3 article .services-build-item-txt ul li {
      font-size: 15px;
      line-height: 24px; }
    .services-section3 article .service-txt-wrapper > section {
      padding: 0px; }
    .services-section3 article .service-image-mobile {
      display: block;
      background-size: cover;
      background-repeat: no-repeat; }
    .services-section3 article .service-image-mobile:after {
      content: "";
      display: block;
      padding-top: 80%; }
    .services-section3 article .service-txt {
      padding: 40px 16px;
      box-sizing: border-box;
      font-size: 14px;
      line-height: 24px; }
      .services-section3 article .service-txt .service-txt-wrapper {
        display: flex; }
        .services-section3 article .service-txt .service-txt-wrapper .icon-mobile {
          width: 40px;
          height: 40px;
          display: block;
          margin-right: 10px; } }

.services-section4 {
  background-color: #ffffff;
  height: 300px; }
  .services-section4 div {
    height: 100%;
    flex-flow: row;
    flex-wrap: wrap; }
  .services-section4 div > div {
    flex-basis: 25%;
    height: 300px;
    background-size: cover; }
  .services-section4 .service-item {
    display: block;
    flex-basis: initial;
    margin: 30% auto 0;
    text-align: center;
    text-shadow: 1px 1px 10px black; }
  @media (max-width: 768px) {
    .services-section4 {
      height: 1200px; }
      .services-section4 div > div {
        flex-basis: 100%; } }

.section, .work-section, .about-section1, .services-section1, .blog-section1, .blog-item-section1, .contact-section1, .team-section1, .slide-item-section1 {
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center; }

.blog-section1 {
  height: 450px; }
  @media (max-width: 768px) {
    .blog-section1 {
      height: 280px; } }
  .blog-section1 article {
    text-align: center;
    text-shadow: 1px 1px 10px black;
    font-size: 50px; }
    @media (max-width: 768px) {
      .blog-section1 article {
        font-size: 24px;
        line-height: 1.42857143;
        padding: 0 16px; } }
  .blog-section1 article > div {
    text-align: center;
    font-size: 26px; }

.blog-section1 {
  background-size: cover; }

.blog-section2 {
  background-color: #ffffff;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px; }
  .blog-section2 article {
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-flow: row; }
    .blog-section2 article div {
      align-items: center;
      justify-content: center;
      flex-flow: row;
      flex-direction: row;
      flex-wrap: wrap;
      width: 80%; }
    .blog-section2 article div > div {
      margin: 12px 12px 24px 12px;
      background-size: cover;
      height: 250px;
      width: 250px;
      flex-basis: 30%; }
      @media (max-width: 768px) {
        .blog-section2 article div > div {
          flex-basis: 100%; } }
      .blog-section2 article div > div div {
        display: block;
        height: 100px;
        text-align: center; }
    .blog-section2 article .blog-item {
      width: 80%;
      margin: 0 auto;
      flex-basis: initial;
      text-shadow: 1px 1px 10px black; }

.blog-item-section1 {
  height: 450px;
  background-size: cover; }
  .blog-item-section1 article {
    text-align: center;
    text-shadow: 1px 1px 10px black;
    font-size: 50px; }
  .blog-item-section1 article > div {
    text-align: center;
    font-size: 26px; }
  @media (max-width: 768px) {
    .blog-item-section1 {
      height: 280px; }
      .blog-item-section1 article {
        font-size: 22px; } }

.blog-item-section2 {
  background-color: #ffffff;
  height: auto; }
  .blog-item-section2 article {
    padding: 20px 40px;
    max-width: 800px;
    margin: 0 auto; }
    @media (max-width: 768px) {
      .blog-item-section2 article {
        padding: 20px 16px; } }

.previous-btn {
  color: #000; }

.blog-items-nav-wrapper {
  display: inline-block;
  width: 100%; }
  .blog-items-nav-wrapper a[rel="prev"] {
    float: left; }
  .blog-items-nav-wrapper a[rel="next"] {
    float: right; }

.section, .work-section, .about-section1, .services-section1, .blog-section1, .blog-item-section1, .contact-section1, .team-section1, .slide-item-section1 {
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center; }

.contact-section1 {
  background: linear-gradient(rgba(0, 102, 204, 0.3), rgba(0, 102, 204, 0.3)), url("../images/section1.png");
  height: 450px; }
  @media (max-width: 768px) {
    .contact-section1 {
      height: 280px; } }
  .contact-section1 article {
    text-align: center;
    text-shadow: 1px 1px 10px black;
    font-size: 50px; }
    @media (max-width: 768px) {
      .contact-section1 article {
        font-size: 24px;
        line-height: 1.42857143;
        padding: 0 16px; } }
  .contact-section1 article > div {
    text-align: center;
    font-size: 26px; }

.contact-section2 {
  background-color: #f5f5f5;
  height: 400px; }

.contact-section3 {
  background-color: #f5f5f5;
  /*height: 460px;*/
  padding: 40px;
  box-sizing: border-box; }
  .contact-section3 article {
    width: 100%;
    flex-flow: row;
    flex-wrap: wrap; }
    .contact-section3 article div {
      flex-basis: 50%; }
    @media (max-width: 768px) {
      .contact-section3 article div {
        flex-basis: 100%; } }
    .contact-section3 article div:nth-child(1) input, .contact-section3 article div:nth-child(1) textarea {
      display: block;
      width: 90%;
      padding: 10px;
      margin: 10px; }
    .contact-section3 article .contact-title {
      color: #2C6BA1; }
    .contact-section3 article .wpcf7-submit {
      height: 45px;
      width: 170px !important;
      border-radius: 3px;
      background-color: #e56a2d;
      border: 0px solid;
      color: #ffffff;
      cursor: pointer;
      -webkit-appearance: none; }
    .contact-section3 article div .wpcf7-form input, .contact-section3 article div .wpcf7-form textarea {
      margin: 0;
      border: 0; }
    .contact-section3 article div .wpcf7-form input {
      height: 40px; }
    .contact-section3 article div .wpcf7-form textarea {
      height: 100px;
      resize: none; }
    .contact-section3 article div.wpcf7-validation-errors {
      background: #f7e700;
      padding: 10px;
      box-sizing: border-box; }
    .contact-section3 article div.wpcf7-mail-sent-ok {
      border: 2px solid #e56a2d;
      background: #e56a2d;
      padding: 10px;
      box-sizing: border-box; }
    .contact-section3 article .contact-form-item + .contact-form-item {
      margin-top: 10px; }
  .contact-section3 .contact-page-data {
    display: flex;
    align-items: center;
    color: #646464; }
    .contact-section3 .contact-page-data img {
      width: 22px;
      margin-right: 16px; }
    .contact-section3 .contact-page-data a {
      text-decoration: none;
      color: #646464; }
  .contact-section3 .contact-page-media img {
    width: initial; }
  .contact-section3 .contact-page-data + .contact-page-data {
    margin-top: 30px; }
  .contact-section3 div.wpcf7-response-output {
    padding: 0;
    width: 90%;
    margin: 0; }

.section, .work-section, .about-section1, .services-section1, .blog-section1, .blog-item-section1, .contact-section1, .team-section1, .slide-item-section1 {
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center; }

.team-section1 {
  height: 450px; }
  @media (max-width: 768px) {
    .team-section1 {
      height: 280px; } }
  .team-section1 article {
    text-align: center;
    text-shadow: 1px 1px 10px black;
    font-size: 50px; }
    @media (max-width: 768px) {
      .team-section1 article {
        font-size: 24px;
        line-height: 1.42857143;
        padding: 0 16px; } }
  .team-section1 article > div {
    text-align: center;
    font-size: 26px; }

.team-section2 {
  padding: 40px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center; }
  .team-section2 article {
    text-align: center;
    color: #052A47; }
    .team-section2 article h1 {
      font-size: 28px;
      margin: 0 auto 50px;
      max-width: 700px;
      color: #052A47; }
    .team-section2 article span {
      margin: 0 auto 50px;
      max-width: 700px;
      display: block; }

.team-section3 {
  min-height: 480px; }
  .team-section3 div {
    width: 100%;
    min-height: 240px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #052A47; }
  .team-section3 div > div {
    background-size: cover;
    background-position: center;
    display: inline-block;
    position: relative;
    flex-basis: 25%;
    height: 100%; }
  .team-section3 .team-wrapper:after {
    content: "";
    display: block;
    padding-top: 100%;
    overflow: hidden; }
  .team-section3 div > div:hover > div {
    display: block;
    animation: show 500ms linear; }
  .team-section3 div > div:hover {
    transition: background-size 2s ease-in;
    -moz-transition: background-size 2s ease-in;
    -ms-transition: background-size 2s ease-in;
    -o-transition: background-size 2s ease-in;
    -webkit-transition: background-size 2s ease-in; }
  .team-section3 div > div > div {
    background-color: rgba(4, 42, 72, 0.3);
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    overflow: hidden; }
  .team-section3 div > div > div > div {
    padding-top: 30%;
    text-align: center; }
    .team-section3 div > div > div > div span {
      font-size: 30px; }
  @media (max-width: 968px) {
    .team-section3 div {
      justify-content: flex-start; }
    .team-section3 div > div {
      flex-basis: 33.3%; } }
  @media (max-width: 768px) {
    .team-section3 div > div {
      flex-basis: 50%; } }

.team-section4 {
  background-image: url("../images/round-shadow.jpg");
  height: 300px;
  align-items: center;
  justify-content: center; }
  .team-section4 article {
    text-align: center;
    color: #ffffff; }
    .team-section4 article span {
      font-size: 28px;
      margin: 10px; }
    .team-section4 article h1 {
      font-size: 28px;
      margin: 10px; }

.sub-menu-wrapper {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
  transition: top 200ms linear; }
  .sub-menu-wrapper .sub-menu {
    padding: 0;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    height: 70px;
    line-height: 70px; }
    .sub-menu-wrapper .sub-menu ul {
      padding: 0;
      margin: 0;
      width: 100%;
      display: flex;
      align-items: stretch;
      justify-content: space-between; }
      .sub-menu-wrapper .sub-menu ul li {
        list-style: none;
        display: inline-block;
        text-align: center;
        flex-basis: 100%; }
        .sub-menu-wrapper .sub-menu ul li.selected a {
          color: #E56A2D; }
        .sub-menu-wrapper .sub-menu ul li a {
          color: #000;
          text-decoration: none;
          cursor: pointer; }
        .sub-menu-wrapper .sub-menu ul li.current-menu-item a {
          color: #2C6BA1; }
  @media (max-width: 768px) {
    .sub-menu-wrapper .sub-menu {
      padding: 0;
      height: 54px;
      line-height: 54px; }
      .sub-menu-wrapper .sub-menu ul li a {
        font-size: 12px; } }

.section, .work-section, .about-section1, .services-section1, .blog-section1, .blog-item-section1, .contact-section1, .team-section1, .slide-item-section1 {
  background-position: top;
  background-size: cover;
  align-items: center;
  justify-content: center; }

.slide-item-section1 {
  height: 520px;
  background-size: cover; }
  .slide-item-section1 article {
    text-align: center;
    text-shadow: 1px 1px 10px black;
    font-size: 50px; }
  .slide-item-section1 article > div {
    text-align: center;
    font-size: 26px; }

.slide-item-section2 {
  background-color: #ffffff;
  height: auto; }
  .slide-item-section2 article {
    padding: 20px 40px; }

/*# sourceMappingURL=legion.css.map */
