
.section {
  background-position: center;
  background-size: cover;
  @extend .display-flex;
  align-items: center;
  justify-content: center;
}

.services-section1 {
  @extend .section;
  height: 450px;

  @media (max-width: $breakpoint-tablet) {
    height: 280px;
  }

  article {
    @extend .white-color-text;
    text-align: center;
    text-shadow: 1px 1px 10px black;
    font-size: 50px;

    @media (max-width: $breakpoint-tablet) {
      font-size: 24px;
      line-height: 1.42857143;
      padding: 0 16px;
    }
  }

  article > div {
    text-align: center;
    font-size: 26px;
  }
}

.services-section1{
  background-size: cover;
}


.services-section2 {
  background-color: #ffffff;
  min-height: 500px;
  @extend .display-flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 20px;


  article {
    text-align: center;
    color: $blue-color;

    @media (max-width: $breakpoint-tablet) {
      font-size: 15px;
      line-height: 24px;
      padding: 0px 16px;
    }

    h1 {
      font-size: 28px;

      @media (max-width: $breakpoint-tablet) {
        font-size: 18px;
        line-height: 1.42857143;
        letter-spacing: 3px;
      }
    }

    hr {
      margin: 40px
    }

    div {
      vertical-align: bottom;

      div {
        height: 180px;
        width: 120px;
        display: inline-block;
        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: 30px;

        div {
          margin: 15px 0px 0px 0px;
        }
      }
    }
  }

}


.services-section3 {
  background-color: $blue-color;

  article {
    .services-build-item:nth-child(even){
      flex-direction: row-reverse;
    }

    div {
      min-height: 450px;
      @extend .display-flex;
      flex-basis: 50%;

      @media (max-width: $breakpoint-tablet) {
        flex-basis: 100%;
        min-height: 280px;

        .service-image {
          display: none;
        }
      }
    }

    div > div:not(.service-image) {
      height: 100%;
      padding: 0 30px;
      box-sizing: border-box;
      background-size: cover;
      
      @media (max-width: $breakpoint-tablet) {
        font-size: 15px;
        line-height: 24px;
        padding: 0;
      }

      div {
        padding: 0px;
        display: block;
        color: #ffffff;

        @media (max-width: $breakpoint-tablet) {
          img {
            display: none;
          }
        }
      }

      div:nth-child(1) {
        display: none;
        flex-basis: 20%;
        padding: 50px 20px;
      }

      @media (max-width: $breakpoint-tablet) {
        div:nth-child(1) {
          flex-basis: 100%;
          display: none;
        }

        div:nth-child(2) {
          flex-basis: 100% !important;
        }
      }

      div:nth-child(2) {
        flex-basis: 100%;
        padding: 0;

        @media (max-width: $breakpoint-tablet) {
          padding: 0;
        }

        h1 {
          color: $orange-color;
          margin-bottom: 0px;
          margin-top: 0;
          letter-spacing: 3px;
          font-size: 16px;
          line-height: 1.42857143;
          text-align: left;

          @media (max-width: $breakpoint-tablet) {
            letter-spacing: 2px;
            font-size: 12px;
            line-height: 1.42857143;
          }
          
        }

        h2 {
          margin-top: 0px;
          letter-spacing: 4px;
          font-size: 22px;
          line-height: 1.42857143;
          text-align: left;
          text-transform: uppercase;

          @media (max-width: $breakpoint-tablet) {
            letter-spacing: 3px;
            font-size: 15px;
            line-height: 1.42857143;
          }
        }

        .des{
          font-weight: 400;
          font-size: 18px;
          line-height: 32px;
        }
      }

    }

    .service-image-mobile{
      display: none;
    }

    .service-txt-wrapper {
      display: flex;
    }

    .service-txt-wrapper > section {
      display: inline-block;
      padding: 20px;
    }

    .service-txt-wrapper > img {
      width: 86px;
      height: 86px;
    }

    .service-txt{
      padding: 40px 16px;
      box-sizing: border-box;
      font-size: 18px;
      line-height: 32px;

      ul{
        margin: 30px 0 0;

        li{
          font-size: 14px;
          line-height: 1.42857143;
          @media (max-width: $breakpoint-tablet) {
            font-size: 12px;
            line-height: 1.42857143;
          }  
          
        }

        li + li{
          margin-top: 20px;
          @media (max-width: $breakpoint-tablet) {
            margin-top: 10px;
          }
        }
      }
    }

    @media (max-width: $breakpoint-tablet) {
      .services-build-item-txt ul li{
        font-size: 15px;
        line-height: 24px;
      }

      .service-txt-wrapper > section {
          padding: 0px;
      }

      .service-image-mobile{
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .service-image-mobile:after{
          content: "";
          display: block;
          padding-top: 80%;
      }

      .service-txt{
        padding: 40px 16px;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 24px;

        .service-txt-wrapper{
          display: flex;

          .icon-mobile{
            width: 40px;
            height: 40px;
            display: block;
            margin-right: 10px;
          }
        }
      }
    }
  }
}


.services-section4 {
  background-color: #ffffff;
  height: 300px;

  div {
    height: 100%;
    @extend .display-flex;
    flex-flow: row;
    flex-wrap: wrap;
  }

  div > div {
    flex-basis: 25%;
    height: 300px;
    background-size: cover;
  }

  .service-item{
    @extend .white-color-text;
    display: block;
    flex-basis: initial;
    margin: 30% auto 0;
    text-align: center;
    text-shadow: 1px 1px 10px black;
  }

  @media (max-width: $breakpoint-tablet) {
    height: 1200px;

    div > div {
      flex-basis: 100%;
    }
  }
}
