$orange-color: #e56a2d;
$white-color: #ffffff;
$blue-color: #052A47;
$black-color: #000;
$breakpoint-tablet: 768px;
$menu-medium: 990px;
$gray-color: #646464;


@mixin bg-url($name) {
  background-image: url('../images/#{$name}');
}

.abril-fatfaceregular{
  font-family: 'abril_fatfaceregular';
}

.proxima-nova-ltsemibold{
   font-family: 'proxima_nova_ltsemibold';
}

.montserratlight{
   font-family: 'montserratlight';
}

.montserratregular{
  font-family: 'montserratregular';
}

.montserratbold{
  font-family: 'montserratbold';
}

.montserratsemi_bold{
  font-family: 'montserratsemi_bold';
}

.avenirNextLTPro-Regular{
  font-family: 'AvenirNextLTPro-Regular';
}

@font-face {
    font-family: 'abril_fatfaceregular';
    src: url('../fonts/abrilfatface-regular-webfont.woff2') format('woff2'),
         url('../fonts/abrilfatface-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('../fonts/mark_simonson_-_proxima_nova_semibold-webfont.woff2') format('woff2'),
         url('../fonts/mark_simonson_-_proxima_nova_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratsemi_bold';
    src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url('../fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirNextLTPro-Regular.otf')  format('opentype'),
	     url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'), url('../fonts/AvenirNextLTPro-Regular.ttf')  format('truetype'), url('../fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


body, html {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


button {
  cursor: pointer;
}

button:hover:not(.c-hamburger) {
  transform: scale(1.1);
}

.white-color-text {
  color: $white-color;
}

.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.logo {
  float: left;
  margin-left: 40px;
  margin-top: 15px;
  
  img{
    height: 50px;
  }
}


.c-hamburger {
  position: absolute;
  right: 16px;
  top: 12px;
  display: none;
  margin: 0;
  padding: 0;
  width: 25px;
  height: 30px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  }

.c-hamburger:focus {
  outline: none; }

.c-hamburger span {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: white;
  }

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
  }

.c-hamburger span::before {
  top: -7px;
  }

.c-hamburger span::after {
  bottom: -7px;
  }

.c-hamburger--htx {
  background-color: transparent;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}

@media (max-width: $breakpoint-tablet) {
  .logo {
    width: calc(100% - 10px - 60px);
    margin-left: 10px;
    margin-top: 0;

    img{
      height: 30px;
    }
  }

  .c-hamburger{
    display: block;
  }

  .is-active + .main-menu{
    display: flex;
  }

}

.main-menu {
  float: right;
  padding-right: 50px;
  height: 80px;
  display: flex;
  align-items: center;

  ul {
    padding: 0px;
    text-align: center;
    margin: 0px;
  }

  ul > li {
    display: inline;
    font-size: 18px;
    padding: 25px;
  }

  ul > li > a {
    @extend .white-color-text;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 0px;

    &:hover, &:active, &:focus{
      border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    }
  }

  ul > li.current-menu-item > a,
  ul > li.current-page-ancestor > a{
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  } 
  ul > li.menu-item-contact > a{
    padding: 10px;
    border-radius: 22px;
    border: 1px solid white;
    display: inline-block;
  }

  ul > li.menu-item-contact > a:hover{
    transform: scale(1.1);
  }

  @media (max-width: $menu-medium) {
    padding-right: 20px;

    ul > li {
      padding: 5px;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    padding-right: 0;
    float: none;
    width: 100%;
    height: auto;
    display: none;

    ul{
      width: 100%;
    }

    ul > li {
      padding: 10px;
      display: block;
      width: 100%;
    }
  }
}

.main-menu-contact {
  background: transparent none repeat scroll 0 0;
  border: 2px solid;
  border-radius: 20px;
  @extend .white-color-text;
  line-height: 30px;
}

.wrapper-page {
  header, footer, section {
    width: 100%;
  }

  header {
    height: 80px;
    position: fixed;
    z-index: 1;

    @media (max-width: $breakpoint-tablet) {
      height: auto;
      background-color: rgba(5, 42, 71, 0.8);
      z-index: 3;
      padding: 10px 0;
      top: 0;
    }
  }

  .header-float {
    background-color: rgba(5, 42, 71, 0.8);
  }

   .sub-menu-wrapper-float {
    position: fixed;
    top: 80px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
  }

  @media (min-width: $breakpoint-tablet) {
    .sub-menu-wrapper-float.menu-top{
        top: 0;
      }
  }

  @media (max-width: $breakpoint-tablet) {
    .sub-menu-wrapper-float{
        top: 54px;
      }
  }
  
  .sub-menu-wrapper-float + .about-section2{
   padding-top: 110px;
   @media (max-width: $breakpoint-tablet) {
      padding-top: 94px;
    }
  }

  .sub-menu-wrapper-float + .work-details-item{
   padding-top: 150px;
    @media (max-width: $breakpoint-tablet) {
      padding-top: 124px;
    }
  }

  .sub-menu-wrapper-float + .team-section2{
   padding-top: 110px;
   @media (max-width: $breakpoint-tablet) {
      padding-top: 94px;
    }
  }

  .sub-menu-wrapper-float + .contact-section2{
   padding-top: 70px;
   @media (max-width: $breakpoint-tablet) {
      padding-top: 54px;
    }
  }

  footer {
    @include bg-url('footer.jpg');
    @extend .white-color-text;
    justify-content: center;
    align-items: center;
    background-color: #042a48;
    padding: 45px 0px 45px 0px;

    .footer-container {
      width: 90%;
      display: flex;
      margin: 0 auto;

      .footer-item-left{
        flex-basis: 30%;
      }

      .footer-item-right{
        flex-basis: 70%;
        display: flex;
        flex-wrap: wrap;

        .footer-section-wrapper{
          flex-basis: 33%;
        }
      }

        h4 {
          color: $orange-color;
        }

        .footer-logo-wrapper {
          font-size: 11px;
          line-height: 1.42857143;

          img.footer-logo{
            height: 40px;
            margin-bottom: 1.33em;
          }

          div + div{
            margin-top: 12px;
          }
        }

        .footer-section-wrapper-item {
          font-size: 11px;
          line-height: 1.42857143;
        }

        .footer-section-wrapper-item + .footer-section-wrapper-item {
          margin-top: 12px;
        }

        .footer-section-wrapper-item a {
          text-decoration: none;
        }

        @media (max-width: $breakpoint-tablet) {
          display: block;

          .footer-item-left{
            width: 100%;
          }

          .footer-item-right{

            .footer-section-wrapper{
              flex-basis: 50%;
              padding-right: 10px;
              box-sizing: border-box;
            }
          }
        }

      }
    }
}


@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
  }
  100% {
    display: block;
    opacity: 1;
  }
}


.big-button {
  height: 45px;
  width: 170px;
  @extend .white-color-text;
  border-radius: 25px;
}

.button-white {
  background: transparent;
  border: 2px solid;
}

.button-orange {
  background-color: $orange-color;
  border: 0px solid;
}


@media (min-width: $breakpoint-tablet) {
  .headroom {
    will-change: transform;
    transition: transform 200ms linear;
  }
  .headroom--pinned {
      transform: translateY(0%);
  }
  .headroom--unpinned {
      transform: translateY(-100%);
  }
}

svg * {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
}

svg.ended * {
  fill: white;
  stroke: none;
}

.svg-item{
  height: 100px;
}

.svg-item-services{
  height: 118px!important;
}

.flex-control-nav{
  bottom: 10px;
}

 @media (max-width: $breakpoint-tablet) {
   .home-section-slider article span{
     font-size: 25px;
   }

   .home-section-slider article > div{
     font-size: 16px!important;
   }

   .big-button {
      border-radius: 25px;
      padding: 8px;
      font-size: 12px!important;
      width: auto;
      height: auto;
    }

    .home-section2 .home-section2-top-clients-title{
      font-size: 20px!important;
    }

    .home-section4 .home-section4-header-title{
      font-size: 20px!important;
    }

    .home-section7 .flexslider .slides > li{
      font-size: 16px!important;
    }

    .home-section8 .home_work_us_title{
      font-size: 25px!important;
    }

    .home-section8 .home_work_us_desc{
      font-size: 16px!important;
    }

    .our-work-section{
      font-size: 12px!important;
    }

    .home-section6 div > div > div > div span{
      font-size: 20px!important;
    }

    .button-case-study{
      font-size: 12px;
    }

    .sub-menu-wrapper .sub-menu{
      width: 100%!important;
    }

    .work-section article{
      font-size: 20px!important;
    }

    .work-section article > div{
      font-size: 16px!important;
    }
 }