
.section {
  background-position: top;
  background-size: cover;
  @extend .display-flex;
  align-items: center;
  justify-content: center;
}

.slide-item-section1 {
  @extend .section;
  height: 520px;
  background-size: cover;

  article {
    @extend .white-color-text;
    text-align: center;
    text-shadow: 1px 1px 10px black;
    font-size: 50px;
  }

  article > div {
    text-align: center;
    font-size: 26px;
  }
}


.slide-item-section2 {
  background-color: #ffffff;
  height: auto;

  article {
    padding: 20px 40px;
  }
}
