
.section {
  background-position: center;
  background-size: cover;
  @extend .display-flex;
  align-items: center;
  justify-content: center;
}

.team-section1 {
  @extend .section;
  height: 450px;

  @media (max-width: $breakpoint-tablet) {
    height: 280px;
  }

  article {
    @extend .white-color-text;
    text-align: center;
    text-shadow: 1px 1px 10px black;
    font-size: 50px;

    @media (max-width: $breakpoint-tablet) {
      font-size: 24px;
      line-height: 1.42857143;
      padding: 0 16px;
    }
  }

  article > div {
    text-align: center;
    font-size: 26px;
  }
}


.team-section2 {
  padding: 40px;
  box-sizing: border-box;
  @extend .display-flex;
  align-items: center;
  justify-content: center;

  article {
    text-align: center;
    color: $blue-color;

    h1 {
      font-size: 28px;
      margin: 0 auto 50px;
      max-width: 700px;
      color: #052A47;
    }

    span {
      margin: 0 auto 50px;
      max-width: 700px;
      display: block;
    }
  }

}


.team-section3 {
  @extend .white-color-text;
  min-height: 480px;

  div {
    width: 100%;
    min-height: 240px;
    @extend .display-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: $blue-color;
  }

  div > div {
    background-size: cover;
    background-position: center;
    display: inline-block;
    position: relative;
    flex-basis: 25%;
    height: 100%;
  }

   .team-wrapper:after {
      content: "";
      display: block;
      padding-top: 100%;
      overflow: hidden;
  }


  div > div:hover > div {
    display: block;
    animation: show 500ms linear;
  }

  div > div:hover {
    transition: background-size 2s ease-in;
    -moz-transition: background-size 2s ease-in;
    -ms-transition: background-size 2s ease-in;
    -o-transition: background-size 2s ease-in;
    -webkit-transition: background-size 2s ease-in;
  }

  div > div > div {
    background-color: rgba(4, 42, 72, .3);
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    overflow: hidden;
  }

  div > div > div > div {
    padding-top: 30%;
    text-align: center;

    span {
      font-size: 30px;
    }
  }


  @media (max-width: 968px) {
    div {
      justify-content: flex-start;
    }

    div > div {
      flex-basis: 33.3%;
    }
  }

  @media (max-width: $breakpoint-tablet) {

    div > div {
      flex-basis: 50%;
    }
  }
}


.team-section4 {
  @include bg-url('round-shadow.jpg');
  height: 300px;
  @extend .display-flex;
  align-items: center;
  justify-content: center;

  article {
    text-align: center;
    color: #ffffff;

    span {
      font-size: 28px;
      margin: 10px;
    }

    h1 {
      font-size: 28px;
      margin: 10px;
    }
  }
}

.sub-menu-wrapper{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.07);
  transition: top 200ms linear;

 .sub-menu{
    padding: 0;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    height: 70px;
    line-height: 70px;

    ul{
      padding: 0;
      margin: 0;
      width: 100%;
      display: flex;
      align-items: stretch;
      justify-content: space-between;

      li{
        list-style: none;
        display: inline-block;
        text-align: center;
        flex-basis: 100%;

        &.selected a{
          color: #E56A2D;
        }

        a{
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }

        &.current-menu-item a{
          color: #2C6BA1;
        }
      }
    }
  }

  @media (max-width: $breakpoint-tablet) {
    .sub-menu{
      padding: 0;
      height: 54px;
      line-height: 54px;

      ul li a {
        font-size: 12px;
      }
    }
  }
}