
.section {
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .work-section {
    @extend .section;
    height: 450px;
    box-shadow: inset 0px 28px 30px -15px #000;

    article {
      @extend .white-color-text;
      text-shadow: 1px 1px 10px black;
      text-align: center;
      font-size: 50px;
    }

    article > div {
      text-align: center;
      font-size: 26px;
    }

    article > div > button {
      margin-top: 45px;
      margin-right: 0;
    }

    @media (max-width: $breakpoint-tablet) {
      height: 280px;
    }
  }

.work-section1{
  background-size: cover;
}
