
.work-details-wrapper{
  padding-bottom: 100px;
}

.work-details-section1 {
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $breakpoint-tablet) {
    height: 410px;
  }

}

.work-details-section1-overlay{
  background-image: url('../images/overlay.png');
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.work-details-section1-top-info{
  z-index: 1;
  text-align: center;
  color: $white-color;
  text-shadow: 1px 1px 10px $black-color
}

.work-details-section1-top-info-title{
  font-size: 6em;
}

.work-details-section1-top-info-sub-title{
  font-size: 2em;
  padding-top: 12px
}

.work-details-section1-arrow-down{
  position: absolute;
  bottom: 30px;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;

  img{
    cursor: pointer;
    transition: transform .2s linear;
    transform: scale(1);
  }

  img:hover, img:active{
    transform: scale(1.3);
  }

  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.work-details-item{
  text-align: center;
  padding: 80px 0;

  @media (max-width: $breakpoint-tablet) {
    padding: 70px 0;
  }
}

.work-details-item-number{
  width: 45px;
  height: 45px;
  margin: 0 auto;
  line-height: 45px;
  background: #2C6BA1;
  color: white;
  border-radius: 50%;
  font-size: 30px;
}

.work-details-item-title{
  margin: 20px 0;
  color: #646464;
  font-size: 30px;

  @media (max-width: $breakpoint-tablet) {
    font-size: 24px;
    line-height: 1.42857143;
  }
}

.work-details-item-desc{
  color: #646464;
  font-size: 16px;
  width: 100%;
  max-width: 945px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;

   @media (max-width: $breakpoint-tablet) {
    font-size: 15px;
    line-height: 24px
  }
}

.work-details-item-img{
  text-align: center;
  background-position: center;
  background-size: contain;
  height: 400px;
  background-repeat: no-repeat;

  img{
    max-width: 100%;
  }

  @media (max-width: $breakpoint-tablet) {
    background-size: cover;
    height: 300px;
  }

}

.work-details-item-img-comment {
  background-position: center;
  background-size: cover;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-details-item-img-comment-data{
    color: white;
    text-align: center;
}

.work-details-item-img-comment-txt{
  font-size: 23px;
  @media (max-width: $breakpoint-tablet) {
    font-size: 18px;
    line-height: 1.42857143;
    padding: 20px;
  }

}

.work-details-item-img-comment-author{
  font-size: 16px;
  margin-top: 20px;
  @media (max-width: $breakpoint-tablet) {
    font-size: 13px;
    line-height: 1.42857143;
    padding: 20px;
  }
}

.work-details-section1-next, .work-details-section1-previous{
  z-index: 2;
  position: absolute;
  top: 50%;
  display: flex;
  width: 150px;
  background: black;
  min-height: 70px;
  margin-top: -55px;
  padding: 20px;
  background-color: #0A3F68;
  opacity: 80%;

  a{
    text-decoration: none;
    display: block;
    width: 100%;
  }

  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.work-details-section1-next{
  right: 0;
}

.work-details-section1-previous{
  left: 0;
}

.work-details-section1-nav-label{
  color: #E46A2D;
}

.work-details-section1-nav-text{
  color: white;
  margin-top: 6px;
  display:table-caption;
  width: 150px;
  overflow: hidden;
}

@media (max-width: $breakpoint-tablet) {
  .work-details-section1-top-info-title {
    font-size: 24px;
    line-height: 1.42857143;
    margin-bottom: 8px;
    letter-spacing: 4.3px;
  }

  .work-details-section1-top-info-sub-title{
    font-size: 15px;
    line-height: 1.42857143;
  }
}